head { background:#d0d0d0; }
body { margin: 0 auto;  padding:0; font-size:0.9em; line-height:20px; font-family: "Myriad Pro", "Trebuchet MS", Arial; border:1px solid #000; background:#d0d0d0; }
a { color:#97070b; text-decoration:none;}
a:hover { text-decoration:underline;}
p { padding: 0 10px 5px 10px; }
h1 { margin:0; padding:10px 0 0 10px; text-transform:uppercase; font-size:1.5em; color:#be141d; font-weight:normal;}

#header { background:url(../images/header_bckg.jpg) no-repeat top right #B9121C;}
#logo { padding:10px 20px 0 40px; height:131px; background:url(../images/head_bckg.jpg) no-repeat #B9121C; }
#slogan { float:left; color:#FFFFFF; font-size:26px; text-transform:uppercase; padding-top:60px}
#logo a{ color:#fff; text-decoration:none; font-weight:bold; font-size:20px; text-transform:uppercase; letter-spacing:5px; }
#logo_text { float:left; width:150px; text-align:left; font-size:11px; color:#fff; line-height:12px; padding:25px 0 0 15px;}
#menu { background: url(../images/menu_bckg1.gif) repeat-x #fff; height:40px; padding-top:10px;}
#menu_list {width:600px; margin:0 auto;}
#menu a { display:block; color:#000000; float:left; font-size:14px; text-transform:uppercase; font-weight:bold; text-decoration:none; margin:0 20px; padding-top:8px;}
#menu a:hover{padding-top:10px;}
.splitter { display:block; float:left;}
.item img { background-color:#FFFFFF; padding:6px; border:1px solid #d0d0d0;}
.item a { display:block; float:left; font-size:12px; color:#bd131d;}
.description { display:block; float:right; width:130px; padding: 0 10px 20px 0; line-height:12px;}
p.additional { margin:0 10px; color:#9c9c9c; font-size:11px; line-height:12px; border-top:1px solid #bdbdbd; padding: 10px 10px 30px 45px; background:url(../images/umbrella.gif) no-repeat 0 12px;}

#text { margin: 0 305px 0 20px; }
/*#text li {list-style:none; padding-left:20px; background:url(../images/li.gif) no-repeat 0px 4px;}*/
#sidebar { float:right; width:245px; padding: 10px 20px 0 30px; font-size:11px;}
#sidebar a{ font-weight:bold; }
#sidebar h1 { margin:0; padding:0 0 20px 0; text-transform:uppercase; font-size:18px; color:#000; font-weight:normal;}

#main { float:left; background:url(../images/sidebar_bckg.gif) no-repeat top right #fff; padding:20px 0 0 0;}
#footer {background:url(../images/footer_bckg.gif) repeat-x #000; height:57px; clear:both;  }
#left_footer { float:left; padding:20px 0 0 30px; background:url(../images/c.gif) no-repeat 30px 35px;  color:#fff; font-size:12px;}
#left_footer a { color:#fff;}
#left_footer a:hover { text-decoration:none;}
#right_footer { float:right;  padding:20px 30px 0 0; color:#fff;  font-size:12px; text-align:right;}
#right_footer a { color:#fff;}


#guest {float:right;}
#guest label{text-align:center; font-size:18px; color:white;}
#guest a{font-size:14px;float:initial; text-align:center; text-transform:none;}
#guest a:hover{text-transform:uppercase; padding-top:10px; background: #43A047;}


#login-page {
    margin: auto;
    width: 340px;
    padding: 10px;
}

#login-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#login-form input {
  font-family: "Myriad Pro", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 10px;
  margin: 0 0 10px;
  box-sizing: border-box;
  font-size: 12px;
}

#login-form label {
  font-family: "Myriad Pro", sans-serif;
  outline: 0;
  width: 30%;
  padding: 10px;
  margin: 0 0 10px;
  font-size: 12px;
}

#login_button  {
  font-family: "Myriad Pro", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #B9121C;
  width: 100%;
  border: 0;
  margin: 10px 0 0 0;
  padding: 15px;
  color: #9c9c9c;
  font-size: 10px;
  cursor: pointer;
}

#login_button:hover,#login_button:active,#login_button:focus {
  background: #43A047;
}
.message {
  font-family: "Myriad Pro", sans-serif;
  padding: 10px;
  margin: 15px 0 0;
  color: #B9121C;
  font-size: 14px;
  font-style:oblique;
  background: #fff;
  /*border-style: ridge;
  border-width: 2px;
  background: #bdbdbd none repeat scroll 0 0;
  border-color: #B9121C;*/
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#login-page a {
  color: #000;
  text-decoration: underline;
}


.page {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
}

.page-form{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 460px;
  margin: 0 auto 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.page-form input {
  font-family: "Myriad Pro", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 10px;
  margin: 0 0 10px;
  box-sizing: border-box;
  font-size: 12px;
}
.page-form input:focus::-moz-placeholder{
    color:transparent;
}
.page-form input:focus::-webkit-input-placeholder{
    color:transparent;
}


.page-form label {
  font-family: "Myriad Pro", sans-serif;
  width: 100%;
  outline: 0;
  padding: 10px;
  margin: 0 0 10px;
  font-size: 12px;
}

.page-form table {
    text-align:left;
}

.page-body {
  position: relative;
  z-index: 100;
  background: #FFFFFF;
  max-width: 900px;
  height:100vh;
  margin: 10px auto;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.page-body table {
    text-align:left;
}

.button  {
  font-family: "Myriad Pro", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #B9121C;
  width: 150px;
  border: 0;
  margin: 10px 0 0 0;
  padding: 15px;
  color: #9c9c9c;
  font-size: 10px;
  cursor: pointer;
}

.button-small  {
  font-family: "Myriad Pro", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #B9121C;
  width: 70px;
  border: 0;
  margin: 2px 0 0 0;
  padding: 5px;
  color: #9c9c9c;
  font-size: 8px;
  cursor: pointer;
}
.cancel-button  {
  font-family: "Myriad Pro", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #d0d0d0;
  width: 150px;
  border: 0;
  margin: 10px 0 0 0;
  padding: 15px;
  color: #9c9c9c;
  font-size: 10px;
  cursor: pointer;
}

button:hover,button:active,button:focus {
  background: #43A047;
}

#contact { margin:0; padding:0; font-size:0.9em; line-height:20px; font-family: "Myriad Pro", "Trebuchet MS", Arial; border:1px solid #000; background:#d0d0d0;  }

ul{
    list-style:none;
}
li{

    overflow: hidden;
    border: none;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    background: rgba(255,255,255,0.3);
    -webkit-box-shadow: 4px 4px 1px 0 rgba(239,4,4,0.3) ;
    box-shadow: 4px 4px 1px 0 rgba(239,4,4,0.3) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    float:left;
    margin:0 10px 10px 0;
    width:48%;
    height:300px;
}
li:nth-child(even){
    margin-right:10px;
    float:right;
}
.container {
    display: table;
    width: 100%;
    height: 100%; 
}